* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}


body {
    height: 100vh;
    background-color: #161616;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: #f3f9f8;

}

header {
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 4%;
    position: fixed;
    top: 0;
    font-size: 25px;
    transition: 1.1s;

    .title-header {
        font-size: 25px;
        color: #f3f9f8;
    }

    #lks-header {
        display: flex;
        gap: 30px;
    }

    .links-menu {
        transition: .3s;

        &:hover {
            color: #3dcfb6;
        }

    }
}


header.rolagem {
    background-color: #000000;
    padding: 20px 4%;
}


p {
    color: #f3f9f8;
    font-size: 35px;
    font-weight: 200;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-title {
    font-size: 35px;
    color: #fff;
}


#start {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(0deg, #3dcfb6, #161616);

    .title {
        width: 70%;
        max-width: 900px;
        display: flex;
        flex-direction: column;

        .my-name {
            color: #f3f9f8;
            font-size: 100px;
            font-family: "Prosto One", sans-serif;
            align-self: flex-start;
        }

        h3 {
            margin: 30px;
            font-size: 40px;
            color: #f3f9f8;
            font-family: "Prosto One", sans-serif;
            align-self: flex-end;
        }
    }

    hr {
        color: #3dcfb6;
        border: 1px solid;
    }
}


#about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding: 20px;

    .text {
        padding: 10px;
        width: 80%;
    }

    .technologies {
        display: flex;
        gap: 30px;

        .fa-html5 {
            color: #FF5722;
        }

        .fa-css3-alt {
            color: #2196f3;
        }

        .fa-js {
            color: #FFDF00;
        }
    }

    .img-tech {
        font-size: 70px;
        transition: .1s;
    }

    .img-tech:hover {
        transform: translateY(-5px);
    }
}


#projects {
    flex-direction: column;
    padding: 50px;
    gap: 50px;

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 40px;
        border-radius: 10px;

        p {
            font-size: 30px;
            font-weight: 200;
        }

        .fa-arrow-up-right-from-square {
            font-weight: 700;
        }

        a {
            font-size: 22px;
        }

        a:hover {
            color: #3dcfb6;
        }

        img {
            width: 100%;
            border-left: 4px solid #3dcfb6;
        }
    }
}


.tech {
    display: flex;
    gap: 5px;

    p {
        font-size: 20px;
        text-align: center;
        border-radius: 16px;
        width: 70px;
        color: #000000;
        font-weight: 400;
    }

    #html {
        background-color: #FF5722;
    }

    #css {
        background-color: #2196f3;
    }

    #js {
        background-color: #FFDF00;
        width: 111px;
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 40px;
    height: 20vh;

    a {
        font-size: 25px;

        &:hover {
            color: #3dcfb6;
        }
    }

    i {
        margin-right: 5px;
    }
}


@media screen and (max-width: 900px) {

    header {
        a {
            display: none;
        }
    }

    #start {
        .title {
            width: 100%;
            max-width: 900px;
            display: flex;
            flex-direction: column;
            padding: 10px;

            h3 {
                margin: 0;
                font-size: 37px;
                text-align: end;
            }
        }
    }

    #about {
        .text {
            width: 100%;
        }
    }

    
    #projects {
        ul {
            grid-template-columns: repeat(1, 1fr);
        }

        li {
            p {
                font-size: 22px;
                font-weight: 300;
            }
        }
    }


    footer {
        display: flex;

        a {
            font-size: 22px;
        }

    }

}